
    <div>
        <div class="logoDiv">
            <img src="~/img/logo.png" />
        </div>
        <div class="naviDiv">
            <li id="jcsd" onclick='GetPartTree(1)' class="active"><div class="icn"><img src="~/img/pic_jcsd.png" /></div><div class="title">监测手段</div></li>
            <li id="yw" onclick='GetPartTree(2)' class="disactive"><div class="icn"><img src="~/img/pic_yw.png" /></div><div class="title">业务</div></li>
            <li id="zgbm" onclick='GetPartTree(3)' class="disactive"><div class="icn"><img src="~/img/pic_zgbm.png" /></div><div class="title">主管部门</div></li>
            <li id="glqy" onclick='GetPartTree(4)' class="disactive"><div class="icn"><img src="~/img/pic_glqy.png" /></div><div class="title">管理区域</div></li>
            <li id="gn" onclick='GetPartTree(5)' class="disactive"><div class="icn"><img src="~/img/pic_gn.png" /></div><div class="title">功能</div></li>
            <li  id="zs" onclick='GetPartTree(6)' class="disactive"><div class="icn"></div><div class="title">展示</div></li>
        </div>
        <div class="small_menu">
            <li class="li1">2017年1月24日 11:12:13</li>
            <li class="li2"><img src="~/img/line1.png" /></li>
            <li class="li3"><span><img src="~/img/pic_user.png" />&nbsp;</span><span>admin</span></li>
            <li class="li4"><img src="~/img/line1.png" /></li>
            <li class="li5"<span ><img src="~/img/pic_exit.png" />&nbsp;</span><span>退出</span></li>
        </div>

    </div>
