@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-10-14 11:03:04
 * @version $Id$
 */

/* line 123, ../scss/style.scss */
html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  height: 100%;
}

/* line 130, ../scss/style.scss */
body {
  font-family: Microsoft YaHei,"微软雅黑", Verdana, Lucida, Helvetica, sans-serif;
  color: #a3b3bc;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* line 144, ../scss/style.scss */
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu,
input[type="checkbox"] {
  display: block;
}

/* line 158, ../scss/style.scss */
input[type="checkbox"] {
  position: absolute;
}

/* line 162, ../scss/style.scss */
a {
  text-decoration: none;
  color: #333;
  outline: none;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  /* Firefox 4 */
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  /* Safari  Chrome */
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  /* Opera */
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in-out;
}

/* line 169, ../scss/style.scss */
a:hover {
  color: #76d1fd;
  outline: none;
  text-decoration: none;
}

/* line 175, ../scss/style.scss */
a:active,
a:visited {
  outline: none;
  text-decoration: none;
}

/* line 181, ../scss/style.scss */
a:focus {
  color: #76d1fd;
  outline: none;
  text-decoration: none;
  outline-offset: 0;
}

/* line 188, ../scss/style.scss */
li {
  list-style: none;
}

/* line 192, ../scss/style.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* line 196, ../scss/style.scss */
nav,
ul {
  margin: 0;
  padding: 0;
}

#container{
  height:100%;
  background:#fff;

}
div.titles{
  background:#fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  position:relative;
  z-index:2;
  height:76px;
  max-height:76px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  /* Firefox 4 */
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  /* Safari  Chrome */
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  /* Opera */
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
}
div.titles img.logo{
  width: auto;
  margin:11px;
  height: 54px;
  max-height:54px;
}
div.titles span{
  color: #0185ff;
  font-size: 24px;
}
div.titles menu{
  display: inline-block;
  border-left:1px solid #ccc;
  margin-left: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.tooltipBox {
  position: relative;
  padding: 10px 0;
  height: auto;
  max-width: 400px;
  border-bottom: 0;
}

/* line 334, ../scss/style.scss */
.tooltipBox > a {
  display: block;
  height: 30px;
  color: #0084ff;
  text-decoration: underline;
  float: right;
  cursor: pointer;
}
/* line 342, ../scss/style.scss */
.tooltipBox .toolTitle {
  display: block;
  float: left;
  width: 100%;
  max-width: 290px;
  min-height: 30px;
  margin-bottom: 10px;
  color: #000;
  text-align: justify;
}
.tooltipBox .toolTitle a{float: right;color: #0185ff;}
.tooltipBox .toolTitle a:hover{text-decoration: underline;}
/* line 349, ../scss/style.scss */
.tooltipBox .toolContent {
  position: relative;
  height: 223px;
  overflow: hidden;
  width: 100%;
  overflow-y: scroll;
}
.tooltipBox .toolContent::-webkit-scrollbar{
    width: 6px;
    border-radius: 6px;
    background-color: #d8d8d8;
}
.tooltipBox .toolContent::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #0084ff;
}
.tooltipBox .toolContent::-webkit-scrollbar-track{
    border-radius: 6px;
    background-color: #d8d8d8;
}
/* line 354, ../scss/style.scss */
.tooltipBox .toolContent li {
  display: block;
  color: #000;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}

.tooltipBox .toolContent li span{
  color:#094fad;
  padding-left:10px;
  white-space: nowrap;
}
.rightList{
  position:absolute;
  right:0;
  width:260px;
  background-color:#fff;
  z-index: 888;
  top:10%;
  height:80%;
  cursor:pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  /* Firefox 4 */
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  /* Safari  Chrome */
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  /* Opera */
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
}
.rightList li,.rtitle{
  line-height: 40px;
  padding-left:50px;
  min-height: 40px;
  color:#333;
  background-image: url("../img/p_1.png");
  background-size:30px auto;
  background-repeat:no-repeat;
  background-position: 10px center;
}
.rightList li.active{
  background-color:#1b84e5;
  color:#fff;
}
.rightList li span{
  display:block;
  line-height: 20px;
  padding: 10px 10px 10px 0;
}
.rtitle{
  background:#0084ff;
  color:#fff;
  padding-left:0;
  border-bottom: 1px solid #fff;
}
.rtitle icon{
  width:20px;
  height:10px;
  display:inline-block;
  padding:0;
  margin:0;
  margin-left:10px;
  background: url("../img/p_2.png") 10px center;
  color:#fff;
}
.rightListHideMenu{
  position:absolute;
  right:-40px;
  width:40px;
  background-color:rgba(255,255,255,0.8);
  background-image:url("../img/p_3.png");
  background-size:30px 30px;
  background-repeat:no-repeat;
  background-position:center;
  z-index: 888;
  top:100px;
  height:40px;
  cursor:pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  /* Firefox 4 */
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  /* Safari  Chrome */
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  /* Opera */
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
}
.tableBox{
  position:absolute;
  top:10%;
  left:10%;
  width:80%;
  height:80%;
  max-width:1000px;
  max-height:800px;
  min-height: 640px;
  background-color:#fff;
  z-index:999;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  /* Firefox 4 */
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  /* Safari  Chrome */
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  /* Opera */
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  transform: translate(350%, 0px);
}
.tableBox div.close{
  width:20px;
  height:20px;
  position:absolute;
  right:10px;
  top:10px;
  background:url("../img/p_4.png");
  opacity: 1;
}
.tableBox .ttitl{
  left:0;
  top:0;
  border-bottom:1px solid #ccc;
  height:40px;
  line-height:40px;
  width:auto;
  margin:0 10px;
}
.tableBox .ttitl span:first-child{
  font-size:18px;
  color:#0084ff;
}
.tableBox .ttitl span + span{
  margin-left:30px;
}
.tableBox .ttitl span + span b{
  font-size:12px;
  color:#0084ff;
  font-weight: normal;
}
.timeSerch,.radioBox{
  margin:10px;
}
.timeSerch span{
  padding:0 2px;
  font-size:14px;
  color:#333;
}
.timeSerch button{
  height:22px;
  background-color:#1592eb;
  border:0;
  border-radius:5px;
  padding:0 20px;
  margin-left:20px;
  color:#fff;
  font-size:12px;
}
.timeSerch input[type=text]{
  height: 25px;
  width: 120px;
  background:rgba(0,0,0,0);
  border:1px solid #ccc;
  text-align:center;
  font-size:12px;
  background-image: url(../img/date.png);
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100px center;
}
.timeSerch div.cheacbox{
  width:20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  background: url("../img/info.png") no-repeat center -142px;
}
.timeSerch div.cheacbox.ok{
  background-position: center 3px;
}
.radioBox span.pay_list_c1{
  margin-left:10px;
  display:inline-block;
  background: url("../img/p_5.png") no-repeat left 6px;
  height:24px;
}
.radioBox span.pay_list_c1.on{
  background-position: left -31px;
  color: #2b94f0;
  font-weight: bold;
}
.radioBox span.pay_list_c1 input{
  opacity:0;
}
.radioBox span.pay_list_c1 span{
  padding-left:3px;
}
.tableBoxTable{
  padding:10px;
  width:100%;
  height: 439px;
}
.tableBoxTable div.tag {
  border:1px solid #ccc;
  border-bottom:0;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  width:80px;
  text-align:center;
  line-height:30px;
  display:inline-block;
  color:#333;
  margin-left:2px;
  cursor: pointer;
}
.tableBoxTable div.tag.on{
  background:#1d78ce;
  color:#fff;
  border-color:#1d78ce
}
.tableBoxTable .tagContent{
  width:100%;
  border:1px solid #1d78ce;
  padding:1px;
  display:none;
  overflow: hidden;
}
.tableBoxTable .tagContent ul{
  background:url("../img/p_6.png");
  height: auto;
  min-height: auto;
  position: relative;
}
.tableBoxTable .tagContent ul li{
  height: 43px;
  line-height:40px;
}
.tableBoxTable .tagContent ul li:last-child{
  background-color: #fff;
}
.tableBoxTable .tagContent ul li button{
    border-radius: 5px;
    border: 0;
    background: #1d78ce;
    color: #fff;
    padding: 0px 7px;
    width: 80px;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
    font-size: 12px;
}
.tableBoxTable .tagContent ul li:first-child{
  background:#1d78ce;
}
.tableBoxTable .tagContent ul li div{
  width: 33%;
  float:left;
  color:#333;
  text-align:center;
  border-left:1px solid #fff;
  min-height: 10px;
}
.tableBoxTable .tagContent ul li div:first-child{
  border-left:0;
}
.tableBoxTable .tagContent ul li:first-child div{
  color:#fff;
}
.tableBoxTable .tagContent div.canvas{
  width:100%;
  height:100%;
}
.tableBoxTable .tagContent.on{
  display:block;
}
.tableBoxTable .buton{
  text-align:right;
  margin-top: 20px;
  position: relative;
}
.tableBoxTable .buton div#lableName{
  position: absolute;
  left: 0;
  top:0;
  font-size: 16px;
  font-weight: bold;
}
.tableBoxTable .buton button{
  border-radius:5px;
  border:0;
  background:#1d78ce;
  color:#fff;
  padding:7px 10px;
  width:120px;
  margin-left:10px;
}
.tableboxMarkerBg{
  position:fixed;
  left:0;
  top:0;
  background:rgba(0,0,0,0.3);
  z-index: 998;
  width:100%;
  height:100%;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  /* Firefox 4 */
  -moz-transition-property: all;
  -moz-transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  /* Safari  Chrome */
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  /* Opera */
  -o-transition-property: all;
  -o-transition-duration: 0.1s;
  -o-transition-timing-function: ease-in-out;
  display:none;
  opacity:0;
}
.dialogBox{
  position: absolute;
  z-index: 999;
  background: #fbfbfb;
  border: 1px solid #eee;
  width: 600px;
  height: 400px;
  max-width: 600px;
  max-height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  top:50%;
  left:50%;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  box-shadow: 0 6px 12px rgba(0,0,0,0.32);
  border-radius: 10px;
  padding:20px;
  display: none;
}
.dialogBox .outputExcelBox{
  border:1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
.dialogBox .outputExcelBox .radioBox span.pay_list_c1{
  background: url(../img/checkBox.png) no-repeat left -28px;
  padding-left: 13px;
  padding-right: 10px;
  margin-top: 10px;
  color: #666;
}
.dialogBox .outputExcelBox .radioBox span.pay_list_c1.all{
  color: #000;
  font-weight: bold;
}
.dialogBox .outputExcelBox .radioBox span.pay_list_c1 input{
  margin-left: -13px;
  opacity: 0.5;
}
.dialogBox .outputExcelBox .radioBox span.pay_list_c1.on{
  background: url(../img/checkBox.png) no-repeat left 4px;
}
.dialogBox .outputExcelBox > .a{
  color: #333;
  font-size: 20px;
  padding-left: 19px;
  font-weight: bold;
}
.dialogBox .outputExcelBox .btnbox{
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
.dialogBox .outputExcelBox .btnbox button{
  width: 100px;
  height: 40px;
  margin:0 auto;
  border:0;
  background-color:#1d78ce;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}