<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="FilePath" value="C:\Users\Administrator\Desktop\新 报告" />
    <!-- 报告存储路径-->
    <add key="BuoyPath" value="C:\Users\Administrator\Desktop\浮标水质报告" />
    <add key="StationPath" value="C:\Users\Administrator\Desktop\岸基水质报告" />
    <!-- 报告模板存储路径-->
    <add key="BuoyTemp" value="C:\Users\Administrator\Desktop\浮标水质报告\浮标水质监测报告模板.docx" />
    <add key="StationTemp" value="C:\Users\Administrator\Desktop\岸基水质报告\岸基站水质监测报告模板.docx" />
    <!-- 报告名称-->
    <add key="BuoyRName" value="浮标水质监测报告.docx" />
    <add key="StationRName" value="岸基站水质监测报告.docx" />
    <add key="ConnectionString" value="Data Source=192.168.1.31/orcl;User ID= s_qxgl;Password=s_qxgl;Max Pool Size=100;Min Pool Size=0;Connection Lifetime=120;Unicode=True" />
    <add key="DataType" value="Oracle" />
  </appSettings>
  <connectionStrings>
    <!-- 北海分局数据库连接字符串和服务器地址及端口-->
    <add name="BHsqlConnectionString" connectionString="Data Source=192.168.1.31/orcl;User ID= s_qxgl;Password=s_qxgl;Max Pool Size=100;Min Pool Size=0;Connection Lifetime=120;Unicode=True" />

    <add name="ComPort" connectionString="COM3" />


  </connectionStrings>
</configuration>